html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Arvo', serif;
  color: white;
  text-transform: uppercase;
}

.carousel {
  flex: 1 1 50%;
  background: url(images/sample.jpg) no-repeat 65% center;
  background-size: cover;
}

.container {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
}

.thumbnail {
  display: none;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: url(images/logo.jpg) no-repeat center;
  background-size: cover;
}

.box {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-weight: 700;
  font-size: 40px;
}

.box p {
  margin-top: 15px;
  font-size: 20px;
}

.buttons {
  margin-top: 15px;
}

.box button {
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
}

button:first-child {
  margin-right: 10px;
}

.heading-content {
  padding: 10px;
}

#heading-box,
.downloads {
  background-color:#00796B;
}

.profile,
.stream {
  background-color:#B2DFDB;
}

.tour,
.portfolio {
  background-color:#009688;
}

.social,
.blog {
  background-color:#607D8B;
}

.icon {
  width: 75px;
  height: 75px;
  color: white;
}


@media screen and (max-width: 860px) {
  .thumbnail {
    display: block;
  }
  .carousel {
    display: none;
  }
}
